body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* inicio de la nav */
.nav {
    background-color: #ffffff;
    height: 56px;
    width: auto;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log {
    display: flex;
    flex-direction: row;
    padding: 0px 6px;

}

.h2Log {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    fill: #e60023;
    color: #c00;
    text-align: center;
    cursor: pointer;
}

.items {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

.h2 {
    cursor: pointer;
    /* background-color: rgba(128, 128, 128, 0.166); */
    display: flex;
    align-items: center;
    width: auto;
    height: 21px;
    border-radius: 8px;
    padding: 8px;
    margin: 5px 8px;
}

.h2:hover {
    background-color: rgba(128, 128, 128, 0.166);
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 42px;
    border-radius: 24px;
    border: 2px solid #cdcdcd;
}

input {
    border: none;
    outline: none;
    font-size: 16px;

}

.gUZ {
    fill: #767676;
    padding: 11px;
    margin: 4px;
    cursor: pointer;
}

.gUZ:hover {
    background-color: rgba(128, 128, 128, 0.166);
    border-radius: 24px;
}

.inicio {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;
    width: auto;
    min-height: 42px;
    background-color: #efefef;
    display: flex;
    align-items: center;
}

.inicio2 {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;
    width: auto;
    min-height: 42px;
    background-color: red;
    display: flex;
    align-items: center;
}
/* fin de la nav */
